@import "~antd/dist/antd.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.my-app-img {
  position: absolute;
  top: 200px;
  left: 625px;
  width: 150px;
  height: 150px;
  align-content: center;
}

.my-app-name {
  position: absolute;
  text-align: center;
  left: 570px;
  top: 130px;
  padding: 5px;
}

.div-1 {
  padding: 500px;
  background-color: lightblue;
}

.my-app-1 {
  position: absolute;
  left: 500px;
  top: 375px;
}

.my-app-2 {
  position: absolute;
  left: 140px;
  top: 470px;
}

.my-app-3 {
  position: absolute;
  left: 520px;
  top: 560px;
}

.my-app-img2 {
  position: absolute;
  top: 1070px;
  left: 350px;
  width: 120px;
  height: 120px;
  align-content: center;
}

.myapp-Menu {
  position: fixed;
}

.my-app-education {
  position: absolute;
  left: 580px;
  top: 950px;
}

.my-app-4 {
  position: absolute;
  left: 500px;
  top: 1070px;
}

.my-app-5 {
  position: absolute;
  left: 500px;
  top: 1120px;
}

.my-app-6 {
  position: absolute;
  left: 500px;
  top: 1150px;
}

.my-app-interests {
  position: absolute;
  left: 650px;
  top: 1800px;
}

.my-app-fields {
  position: absolute;
  left: 440px;
  top: 1875px;
}

ul.my-app-list1 {
  position: absolute;
  left: 450px;
  top: 1950px;
}

ul.my-app-list2 {
  position: absolute;
  left: 750px;
  top: 1950px;
}

.my-app-list4 {
  position: absolute;
  left: 790px;
  top: 2745px;
}

.my-app-list3 {
  position: absolute;
  left: 380px;
  top: 2750px;
}

.my-app-coursework {
  position: absolute;
  left: 550px;
  top: 2650px;
}

.my-app-skills {
  position: absolute;
  left: 600px;
  top: 3370px;
}

.my-app-list5 {
  position: absolute;
  left: 440px;
  top: 3470px;
}

.my-app-list6 {
  position: absolute;
  left: 840px;
  top: 3470px;
}

.my-app-img3 {
  position: absolute;
  top: 1240px;
  left: 330px;
  width: 170px;
  height: 170px;
  align-content: center;
}

.my-app-7 {
  position: absolute;
  left: 500px;
  top: 1300px;
}

.my-app-CR {
  position: absolute;
  left: 570px;
  top: 4220px;
}

.my-app-img4 {
  position: absolute;
  top: 4300px;
  left: 240px;
  width: 120px;
  height: 120px;
  align-content: center;
}

.my-app-CR1 {
  position: absolute;
  left: 400px;
  top: 4320px;
}

.my-app-por {
  position: absolute;
  left: 550px;
  top: 4520px;
}

.my-app-img5 {
  position: absolute;
  top: 4630px;
  left: 210px;
  width: 170px;
  height: 170px;
  align-content: center;
}

.my-app-por1 {
  position: absolute;
  left: 410px;
  top: 4650px;
}

.div_background {
  background-color: aqua;
  background-position: 200px;
}

.myapp-Menu1 {
  width: 150px;
  background-color: #eddabd;
}

.myapp-Menu2 {
  width: 250px;
  background-color: #ea8a5d;
}
.myapp-Menu3 {
  width: 150px;
  background-color: #58b8ef;
}
.myapp-Menu4 {
  width: 240px;
  background-color: #f7f779;
}
.myapp-Menu5 {
  width: 200px;
  background-color: #e9b3f9;
}
.myapp-Menu6 {
  width: 250px;
  background-color: #8bef98;
}

.myapp-Menu7 {
  width: 200px;
  background-color: #b8bcbb;
}

.div_1 {
  background-image: url(https://wallpaperplay.com/walls/full/2/5/0/200799.jpg);
  background-size: 100% 100%;
}

.my-app-contact {
  position: absolute;
  left: 620px;
  top: 5400px;
}

.my-app-info {
  position: absolute;
  left: 490px;
  top: 5500px;
}
